/* General styles */
$purple: #3f2347;
$orange: #F07E2F;
$burgundy: #872645;
$red: #C5411C;
$yellow: #FAB600;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Header section - navigation bar */
header {
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 1rem 0 1rem;
  background-color: #fff;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 50px;
  margin-left: 2rem;
}

header p {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: $purple;
  text-align: center;
}
  
/* menu button */
#menuToggle {
  display: block;
  position: relative;
  top: 1rem;
  right: 2rem;
  
  z-index: 4;
  
  -webkit-user-select: none;
  user-select: none;
}
  
#menuToggle a {
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menu a li:hover {
  color: $orange;
  transition: ease 0.3s;
}
  
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  right: -7px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 6;
  
  -webkit-touch-callout: none;
}
  
/* burgermenu */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#purple {
  background: $purple;
}

#burgondy {
  background: $burgundy;
}

#orange {
  background: $orange;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
  
#menuToggle span:nth-last-child(2) {
  transform-origin: 76% -150%;
}
  
/* transform the slices of burger into a crossmark. */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-10px, -14px);
}
  
/* hide the middle slice. */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
  
/* the last slice go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-5px, -10px);
}
  
/* menu itself */
#menu {
  position: fixed;
  top: 5rem;
  z-index: 1;
  width: 100%;
  background: $purple;
  opacity: 85%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
}
  
#menu > ul {
  width: 100%;
  padding: 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  background: $purple;
  list-style-type: none;
  margin: 0;
}
  
#menu li {
  padding: 1.3rem 0;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
  
.menu-closed {
  transform-origin: 0% 0%;
  transform: translate(0, -150%);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
  
.menu-open {
  transform-origin: 0% 0%;
  transform: translate(0, 0%);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}


/* top banner */
.banner {
  background-image: url(images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
}

.banner div {
  position: relative;
  line-height: 2rem;
  left: 14%;
  top: 30%;
  width: 40%;
}

.banner h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: $yellow;
}

.banner h2 {
  font-size: 1.7rem;
  color: $purple;
}

.banner h3 {
  font-size: 1.1rem;
  color: $burgundy;
}

.banner a {
  margin-top: 20px;
  display: flex;
  width: 110px;
  text-align: center;
}


/* info boxes */
.boxes {
  background-color: $purple;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.boxes a:hover {
  transform: scale(1.03);
  transition: transform 0.3s;
}

.boxes article {
  background-color: #fff;
  height: 150px;
  width: 300px;
  border: 2px solid $purple;
  border-radius: 1%;
  margin: 10px;
}

.boxes h3 {
  font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.boxes #box-1 {
  color: $purple;
}

.boxes #box-2 {
  color: $burgundy;
}

.boxes #box-3 {
  color: $red;
}

.boxes #box-4 {
  color: $orange;
}

/* call to action section */
.cta-info {
  background-image: url(images/office2.png);
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cta-box {
  width: 500px;
  background-color: $purple;
  opacity: 90%;
  color: #fff;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  margin: 40px;
}

.cta-box h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.cta-box-i {
  width: 100%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cta-box-i img {
  width: 6rem;
}

.cta-box a, .banner a {
  padding: 1rem 2rem;
  background-color: $yellow;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.cta-box a:hover, .banner a:hover {
  background-color: lighten($color: $yellow, $amount: 20);
  color: $purple;
  transition: ease 0.3s;
}

/* provide section */
#prov h2, #service h2, #about h2, #benefit h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: $yellow;
  margin: 0 0 5rem;
  padding-top: 4rem;
  text-transform: uppercase;
}

.info-grid {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.info-grid-c {
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.info-grid-c:not(:last-child) {
  border-right: 1px solid $purple;
}

.info-grid-c h3 {
  margin: 1rem 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 2.2rem;
  color: $red;
}

.info-grid-c h4 {
  font-size: 1.3rem;
  text-align: center;
  color: $purple;
}

#info-logo {
  display: block;
  position: relative;
  width: 8rem;
  top: -20%;
  left: 85%;
  transform: rotate(27deg);
}

/* our services section */
#service {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
}

#service img {
  display: block;
}

#service p, #about p {
  font-size: 1.6rem;
  margin: 0;
}

/* reviews section */
#reviews article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin: 30px 0;
}

#reviews ul {
  list-style: none;
  font-size: 1.5rem;
  position: relative;
  right: 50px;
  margin: 0;
}

#reviews ul li {
  font-style: italic;
  text-align: right;
  font-size: 1.2rem;
}

#reviews ul li span {
  font-weight: bold;
}

#reviews p {
  height: 50%;
  font-size: 1.8rem;
  font-style: italic;
  align-items: center;
  padding: 2rem;
  margin: 0;
}

#reviews img {
  height: 300px;
}

#reviews div {
  width: 30%;
  min-width: 500px;
  border-radius: 5px;
  border: 1px solid $purple;
  box-shadow: 3px 3px 5px #aaaaaa;
}

/* about us section */
#about {
  background-color: #F0F0F0;
}

#about div, #service div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 80px;
}

#about div article, #service div article {
  width: 50%;
  min-width: 650px;
  margin-left: 50px;
}

#about p, #service p {
  display: flex;
  height: 100%;
  align-items: center;
}

#about img {
  width: 400px;
  height: 400px;
  display: block;
  border: 1px solid $purple;
  box-shadow: 2rem 2rem $purple;
}

/* benefit section */
#benefit div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 80px;
}

#benefit article {
  display: flex;
  width: 35%;
}

#benefit ul {
  display: block;
  list-style: none;
  margin: 0 5rem 0 auto;
  font-size: 1.6rem;
  width: 34rem;
  padding: 0;
}

#benefit ul li:not(:first-child) {
  margin-top: 2rem;
}

#benefit img {
  border: 1px solid $purple;
  box-shadow: 2rem 2rem $purple;
}

/* contact section */
#contact {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  padding: 20px;
}

#contact article {
  width: 800px;
  margin: 0 auto;
  background-color: $purple;
  border-radius: 25px;
}

#contact h2 {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

#contact article form {
  display: flex;
  flex-direction: column;
}

#contact article form input, #contact article form textarea {
  font-family: 'Montserrat', sans-serif !important;
}

#contact #fname, #contact #email {
  width: 75%;
  margin: 0 auto;
  height: 3rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 10px;
  padding-left: 1rem;
  font-weight: 600;
}

#contact #ym {
  width: 75%;
  margin: 2rem auto 0;
  height: 15rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 10px;
  padding: 1rem 0 0 1rem;
  font-weight: 600;
}

#contact #email {
  margin-top: 2rem;
}

#contact #submit {
  width: 10rem;
  margin: 2rem auto 2rem;
  padding: 0.5rem;
  background-color: $yellow;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

#contact #submit:hover {
  background-color: lighten($color: $yellow, $amount: 15);
  color: $purple;
  transition: ease 0.3s;
}

/* footer section */
footer {
  display: grid !important;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: $purple;
  height: 150px;
}

footer div {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

footer div a:not(:first-child) {
  margin-left: 3rem;
}

footer p {
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  display: block;
  margin: auto 1rem auto auto;
}

#footer-copy {
  flex-direction: column;
}

footer ul {
  list-style: none;
  color: #fff;
  text-align: center;
  padding: 0;
}

footer ul li:not(:first-child) {
  margin-top: 1rem;
}

footer span {
  font-weight: bold;
}

#footer-logo {
  width: 15%;
  display: block;
  margin: 2rem 3rem 0 auto;
}

/* small.html webpage layout */
#smallb, #mediumb {
  margin-top: 200px;
  height: 900px;
}

#smallb article, #mediumb article {
  display: grid;
  grid-template-columns: 60% 40%;
}

#smallb article h2, #mediumb article h2 {
  grid-column: 1 / span 2;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: $yellow;
  margin: 0 0 4rem;
  text-transform: uppercase;
}

#smallb p, #mediumb p {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 5rem 0 15rem;
}

#smallb-image1, #mediumb-image1 {
  display: block;
  position: relative;
  top: -70%;
  left: 6%;
}

#smallb-image2, #mediumb-image2 {
  display: block;
  position: relative;
  top: -69%;
  left: 6%;
}