/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Header section - navigation bar */
header {
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 1rem 0 1rem;
  background-color: #fff;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.3% 33.3% 33.3%;
      grid-template-columns: 33.3% 33.3% 33.3%;
}

header img {
  width: 50px;
  margin-left: 2rem;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #3f2347;
  text-align: center;
}

/* menu button */
#menuToggle {
  display: block;
  position: relative;
  top: 1rem;
  right: 2rem;
  z-index: 4;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menu a li:hover {
  color: #F07E2F;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  right: 0.5rem;
  cursor: pointer;
  opacity: 0;
  z-index: 6;
  -webkit-touch-callout: none;
}

/* burgermenu */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  left: 92.5%;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#purple {
  background: #3f2347;
}

#burgondy {
  background: #872645;
}

#orange {
  background: #F07E2F;
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 76% -150%;
          transform-origin: 76% -150%;
}

/* transform the slices of burger into a crossmark. */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-10px, -14px);
          transform: rotate(45deg) translate(-10px, -14px);
}

/* hide the middle slice. */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/* the last slice go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(-5px, -10px);
          transform: rotate(-45deg) translate(-5px, -10px);
}

/* menu itself */
#menu {
  position: fixed;
  top: 5rem;
  z-index: 1;
  width: 100%;
  background: #3f2347;
  opacity: 85%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
}

#menu > ul {
  width: 100%;
  padding: 0;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  background: #3f2347;
  list-style-type: none;
  margin: 0;
}

#menu li {
  padding: 1.3rem 0;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.menu-closed {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(0, -150%);
          transform: translate(0, -150%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu-open {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

/* top banner */
.banner {
  background-image: url(images/banner.png);
  background-repeat: no-repeat;
  height: 30rem;
}

.banner div {
  position: relative;
  line-height: 2rem;
  left: 15%;
  top: 60%;
  width: 27.9rem;
}

.banner h2 {
  font-size: 2.2rem;
  color: #3f2347;
}

.banner h3 {
  font-size: 1.3rem;
  text-align: right;
  color: #872645;
}

/* info boxes */
.info {
  height: 10rem;
}

.boxes {
  background-color: #3f2347;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.boxes a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.boxes article {
  background-color: #fff;
  height: 12rem;
  width: 22rem;
  border: 2px solid #3f2347;
  border-radius: 1%;
  margin: 4rem auto;
}

.boxes h3 {
  font-size: 1.8rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.boxes #box-1 {
  color: #3f2347;
}

.boxes #box-2 {
  color: #872645;
}

.boxes #box-3 {
  color: #C5411C;
}

.boxes #box-4 {
  color: #F07E2F;
}

/* call to action section */
.cta-info {
  height: 30rem;
  background-image: url(images/office2.png);
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.cta-box {
  width: 35rem;
  height: 18rem;
  margin: auto;
  background-color: #3f2347;
  opacity: 90%;
  color: #fff;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
}

.cta-box h3 {
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
}

.cta-box-i {
  width: 100%;
  text-align: left;
}

.cta-box-i img {
  width: 6rem;
}

.img-bp {
  margin-left: 64%;
}

.bp-mt {
  margin-top: -15px;
}

.cta-box a {
  padding: 1rem 2rem;
  background-color: #FAB600;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
}

.cta-box a:hover {
  background-color: #ffd461;
  color: #3f2347;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

/* provide section */
#prov {
  height: 33rem;
}

#prov h2, #service h2, #about h2, #contact h2, #benefit h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #FAB600;
  margin: 0 0 5rem;
  padding-top: 4rem;
  text-transform: uppercase;
}

.info-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%;
  margin: 0 auto;
}

.info-grid-c {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-grid-c:not(:last-child) {
  border-right: 1px solid #3f2347;
}

.info-grid-c h3 {
  margin: 1rem 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 2.2rem;
  color: #C5411C;
}

.info-grid-c h4 {
  font-size: 1.3rem;
  text-align: center;
  color: #3f2347;
}

#info-logo {
  display: block;
  position: relative;
  width: 8rem;
  top: -20%;
  left: 85%;
  -webkit-transform: rotate(27deg);
          transform: rotate(27deg);
}

/* our services section */
#service {
  margin-top: 2rem;
  height: 45rem;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -ms-grid-rows: 8rem;
      grid-template-rows: 8rem;
}

#service h2, #about h2, #benefit h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

#service img {
  display: block;
  margin: 0 3rem 0 auto;
}

#service p, #about p {
  padding: 0 10rem 0 5rem;
  font-size: 1.6rem;
  margin: 0;
}

/* reviews section */
#reviews, #contact {
  height: 25rem;
}

#reviews article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  height: 100%;
}

#contact h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

#reviews ul {
  list-style: none;
  font-size: 1.5rem;
  padding-left: 1rem;
  margin: auto auto auto 0;
  position: relative;
  right: 2.8rem;
  bottom: 0.5rem;
}

#reviews ul li {
  font-style: italic;
  text-align: right;
  font-size: 1.2rem;
}

#reviews ul li span {
  font-weight: bold;
}

#reviews p {
  font-size: 1.8rem;
  font-style: italic;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  margin: 0;
}

#reviews img {
  margin: auto 0 auto auto;
}

#reviews div {
  width: 50rem;
  height: 16rem;
  border-radius: 5px;
  border: 1px solid #3f2347;
  margin: auto auto auto 0;
  -webkit-box-shadow: 3px 3px 5px #aaaaaa;
          box-shadow: 3px 3px 5px #aaaaaa;
}

/* about us section */
#about {
  height: 50rem;
  margin-top: 2rem;
  background-color: #F0F0F0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: 6rem;
      grid-template-rows: 6rem;
}

#about div, #service div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about p, #service p, #benefit article, #benefit div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about img {
  width: 30rem;
  height: 30rem;
  display: block;
  margin: 0 auto;
  border: 1px solid #3f2347;
  -webkit-box-shadow: 2rem 2rem #3f2347;
          box-shadow: 2rem 2rem #3f2347;
}

/* benefit section */
#benefit {
  height: 45rem;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: 8rem;
      grid-template-rows: 8rem;
}

#benefit ul {
  display: block;
  list-style: none;
  margin: 0 5rem 0 auto;
  font-size: 1.6rem;
  width: 34rem;
  padding: 0;
}

#benefit ul li:not(:first-child) {
  margin-top: 2rem;
}

#benefit img {
  border: 1px solid #3f2347;
  -webkit-box-shadow: 2rem 2rem #3f2347;
          box-shadow: 2rem 2rem #3f2347;
}

/* contact section */
#contact #con-art {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 40% 30%;
      grid-template-columns: 30% 40% 30%;
  padding: 0 10rem;
}

#contact ul {
  list-style: none;
  font-size: 1.8rem;
}

#contact span {
  font-weight: bold;
}

#con-ceo {
  text-align: center;
}

#con-info ul {
  padding-right: 8rem;
}

#con-info ul li {
  margin: 2rem 0 0 3rem;
}

/* footer section */
footer {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 33.3% 33.3% 33.3%;
      grid-template-columns: 33.3% 33.3% 33.3%;
  background-color: #3f2347;
  height: 150px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0 auto;
}

footer div a:not(:first-child) {
  margin-left: 3rem;
}

footer p {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0 auto;
}

#footer-logo {
  width: 15%;
  display: block;
  margin: 2rem 3rem 0 auto;
}

/* small.html webpage layout */
#smallb, #mediumb {
  margin-top: 200px;
  height: 900px;
}

#smallb article, #mediumb article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

#smallb article h2, #mediumb article h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: #FAB600;
  margin: 0 0 4rem;
  text-transform: uppercase;
}

#smallb p, #mediumb p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 5rem 0 15rem;
}

#smallb-image1, #mediumb-image1 {
  display: block;
  position: relative;
  top: -70%;
  left: 6%;
}

#smallb-image2, #mediumb-image2 {
  display: block;
  position: relative;
  top: -69%;
  left: 6%;
}
/*# sourceMappingURL=style.css.map */