/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Header section - navigation bar */
header {
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 1rem 0 1rem;
  background-color: #fff;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  width: 50px;
  margin-left: 2rem;
}

@media only screen and (max-width: 999px) {
  header img {
    margin-left: 10px;
    width: 30px;
  }
}

header p {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #3f2347;
  text-align: center;
}

@media only screen and (max-width: 999px) {
  header p {
    font-size: 2rem;
  }
}

/* menu button */
#menuToggle {
  display: block;
  position: relative;
  top: 1rem;
  right: 2rem;
  z-index: 4;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

@media only screen and (max-width: 999px) {
  #menuToggle {
    right: 10px;
    top: 10px;
  }
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menu a li:hover {
  color: #F07E2F;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  right: -7px;
  cursor: pointer;
  opacity: 0;
  z-index: 6;
  -webkit-touch-callout: none;
}

/* burgermenu */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#purple {
  background: #3f2347;
}

#burgondy {
  background: #872645;
}

#orange {
  background: #F07E2F;
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 76% -150%;
          transform-origin: 76% -150%;
}

/* transform the slices of burger into a crossmark. */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-10px, -14px);
          transform: rotate(45deg) translate(-10px, -14px);
}

/* hide the middle slice. */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/* the last slice go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(-5px, -10px);
          transform: rotate(-45deg) translate(-5px, -10px);
}

/* menu itself */
#menu {
  position: fixed;
  top: 5rem;
  z-index: 1;
  width: 100%;
  background: #3f2347;
  opacity: 85%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
}

@media only screen and (max-width: 999px) {
  #menu {
    top: 70px;
  }
}

#menu > ul {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background: #3f2347;
  list-style-type: none;
  margin: 0;
}

@media only screen and (max-width: 999px) {
  #menu > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#menu ul a {
  width: 20%;
}

@media only screen and (max-width: 999px) {
  #menu ul a {
    width: 100%;
  }
}

#menu li {
  padding: 1.3rem 0;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.menu-closed {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(0, -150%);
          transform: translate(0, -150%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu-open {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

/* dropdown section of the menu bar */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.dropbtn {
  background: none;
  border: none;
  color: #FFF;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 20%;
}

@media only screen and (max-width: 999px) {
  .dropdown {
    width: 100%;
    padding: 1.3rem 0;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3f2347;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  color: #FFF;
  padding: 12px 0;
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  width: 100% !important;
}

.dropdown-content a:hover {
  background-color: #5d3469;
  color: #F07E2F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #5d3469;
  color: #F07E2F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* top banner */
.banner {
  background-image: url(images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
}

@media only screen and (max-width: 999px) {
  .banner {
    padding-bottom: 10px;
    background-position: 60%;
    margin-top: 80px;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .banner {
    height: auto;
  }
}

.banner div {
  position: relative;
  line-height: 2rem;
  left: 14%;
  top: 30%;
  width: 40%;
}

@media only screen and (max-width: 999px) {
  .banner div {
    width: 100%;
    left: 0;
    text-align: center;
  }
}

.banner h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #FAB600;
}

.banner h2 {
  font-size: 1.7rem;
  color: #3f2347;
}

@media only screen and (max-width: 999px) {
  .banner h2 {
    color: #F07E2F;
  }
}

.banner h3 {
  font-size: 1.1rem;
  color: #872645;
}

@media only screen and (max-width: 999px) {
  .banner h3 {
    color: #C5411C;
  }
}

.banner a {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  text-align: center;
}

@media only screen and (max-width: 999px) {
  .banner a {
    margin: 20px auto 0;
  }
}

/* info boxes */
.boxes {
  background-color: #3f2347;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1320px) {
  .b-info-q {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .b-info-q {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 1320px) {
  .b-info-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
}

@media only screen and (max-width: 700px) {
  .b-info-first {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.boxes a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.boxes article {
  background-color: #fff;
  height: 150px;
  width: 300px;
  border: 2px solid #3f2347;
  border-radius: 1%;
  margin: 10px;
}

.boxes h3 {
  font-size: 1.5rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 10px;
}

.boxes #box-1 {
  color: #3f2347;
}

.boxes #box-2 {
  color: #872645;
}

.boxes #box-3 {
  color: #C5411C;
}

.boxes #box-4 {
  color: #F07E2F;
}

/* call to action section */
.cta-info {
  background-image: url(images/office2.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 1305px) {
  .cta-info {
    background-size: cover;
  }
}

.cta-box {
  width: 500px;
  background-color: #3f2347;
  opacity: 90%;
  color: #fff;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  margin: 40px;
}

.cta-box h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.cta-box-i {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 999px) {
  .cta-box-i {
    margin-bottom: 15px;
  }
}

.cta-box-i img {
  width: 6rem;
}

.cta-box a, .banner a {
  padding: 1rem 2rem;
  background-color: #FAB600;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}

.cta-box a:hover, .banner a:hover {
  background-color: #ffd461;
  color: #3f2347;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

/* provide section */
#prov h2, #service h2, #about h2, #benefit h2, #smallb h2, #mediumb h2, #blog h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #FAB600;
  margin: 0 0 5rem;
  padding-top: 4rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 999px) {
  #prov h2, #service h2, #about h2, #benefit h2, #smallb h2, #mediumb h2, #blog h2 {
    margin: 0 10px 20px;
    padding-top: 10px;
  }
}

.info-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media only screen and (max-width: 999px) {
  .info-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info-grid-c {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 999px) {
  .info-grid-c {
    width: 100%;
  }
}

.info-grid-c:not(:last-child) {
  border-right: 1px solid #3f2347;
}

@media only screen and (max-width: 999px) {
  .info-grid-c:not(:last-child) {
    border-right: none;
    margin-bottom: 10px;
  }
}

.info-grid-c h3 {
  margin: 1rem 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 2.2rem;
  color: #C5411C;
}

.info-grid-c h4 {
  font-size: 1.3rem;
  text-align: center;
  color: #3f2347;
}

#info-logo {
  display: block;
  position: relative;
  width: 8rem;
  top: -20%;
  left: 85%;
  -webkit-transform: rotate(27deg);
          transform: rotate(27deg);
}

@media only screen and (max-width: 999px) {
  #info-logo {
    left: 60%;
  }
}

/* our services section */
#service {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1050px) {
  #service {
    background-size: cover;
  }
}

#service img {
  display: block;
}

#service p, #about p {
  font-size: 1.6rem;
  margin: 0;
}

/* reviews section */
#reviews article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: 30px 0;
}

#reviews ul {
  list-style: none;
  font-size: 1.5rem;
  position: relative;
  right: 50px;
  margin: 0;
}

@media only screen and (max-width: 999px) {
  #reviews ul {
    margin: 0 auto 10px;
  }
}

#reviews ul li {
  font-style: italic;
  text-align: right;
  font-size: 1.2rem;
}

#reviews ul li span {
  font-weight: bold;
}

#reviews p {
  height: 50%;
  font-size: 1.8rem;
  font-style: italic;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  margin: 0;
}

@media only screen and (max-width: 999px) {
  #reviews p {
    height: auto;
  }
}

#reviews img {
  height: 300px;
}

#reviews div {
  width: 30%;
  min-width: 500px;
  border-radius: 5px;
  border: 1px solid #3f2347;
  -webkit-box-shadow: 3px 3px 5px #aaaaaa;
          box-shadow: 3px 3px 5px #aaaaaa;
}

@media only screen and (max-width: 999px) {
  #reviews div {
    min-width: 300px;
  }
}

/* about us section */
#about {
  background-color: #F0F0F0;
}

#about div, #service div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 80px;
}

#about div article, #service div article {
  width: 50%;
  min-width: 650px;
  margin-left: 50px;
}

@media only screen and (max-width: 1150px) {
  #about div article, #service div article {
    min-width: 300px;
    width: 100%;
    margin: 20px;
    text-align: center;
  }
}

#about p, #service p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about img {
  width: 400px;
  height: 400px;
  display: block;
  border: 1px solid #3f2347;
  -webkit-box-shadow: 2rem 2rem #3f2347;
          box-shadow: 2rem 2rem #3f2347;
}

@media only screen and (max-width: 600px) {
  #about img {
    width: 100% !important;
  }
}

@media only screen and (max-width: 999px) {
  #about img {
    width: 400px;
  }
}

@media only screen and (max-width: 1150px) {
  #about img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

/* benefit section */
#benefit div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px;
}

@media only screen and (max-width: 1200px) {
  #benefit div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#benefit article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
}

@media only screen and (max-width: 1200px) {
  #benefit article {
    width: 100%;
  }
}

#benefit ul {
  display: block;
  list-style: none;
  margin: 0 5rem 0 auto;
  font-size: 1.6rem;
  width: 100%;
  padding: 0;
}

@media only screen and (max-width: 1200px) {
  #benefit ul {
    margin: 10px 10px 20px;
    text-align: center;
  }
}

#benefit ul li:not(:first-child) {
  margin-top: 2rem;
}

#benefit img {
  border: 1px solid #3f2347;
  -webkit-box-shadow: 2rem 2rem #3f2347;
          box-shadow: 2rem 2rem #3f2347;
}

@media only screen and (max-width: 1200px) {
  #benefit img {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1750px) {
  #benefit img {
    width: 600px;
    height: 400px;
  }
}

/* contact section */
#contact {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

#contact article {
  width: 800px;
  margin: 0 auto;
  background-color: #3f2347;
  border-radius: 25px;
}

#contact h3 {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

#contact article form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact article form input, #contact article form textarea {
  font-family: 'Montserrat', sans-serif !important;
}

#contact #fname, #contact #email {
  width: 75%;
  margin: 0 auto;
  height: 3rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 10px;
  padding-left: 1rem;
  font-weight: 600;
}

#contact #ym {
  width: 75%;
  margin: 2rem auto 0;
  height: 15rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 10px;
  padding: 1rem 0 0 1rem;
  font-weight: 600;
}

#contact #email {
  margin-top: 2rem;
}

#contact #submit {
  width: 10rem;
  margin: 2rem auto 2rem;
  padding: 0.5rem;
  background-color: #FAB600;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

#contact #submit:hover {
  background-color: #ffcd48;
  color: #3f2347;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

/* footer section */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3f2347;
  height: 150px;
}

@media only screen and (max-width: 999px) {
  footer {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

footer #footer-social {
  margin-left: 50px;
}

@media only screen and (max-width: 999px) {
  footer #footer-social {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

footer div a:not(:first-child) {
  margin-left: 2rem;
}

footer p {
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  display: block;
  margin: auto;
}

#footer-copy {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
}

@media only screen and (max-width: 999px) {
  #footer-copy {
    margin: 0 0 30px 0;
  }
}

footer ul {
  list-style: none;
  color: #fff;
  text-align: center;
  padding: 0;
}

@media only screen and (max-width: 999px) {
  footer ul {
    width: 100%;
  }
}

footer ul li:not(:first-child) {
  margin-top: 1rem;
}

footer span {
  font-weight: bold;
}

#footer-logo {
  width: 80px;
  display: block;
  margin: 2rem auto 0 auto;
}

#socialmedia:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

/* small.html and medium.html webpage section */
#smallb, #mediumb, #blog {
  margin-top: 150px;
}

#smallb article, #mediumb article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#smallb ul, #mediumb ul {
  height: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  list-style: none;
  width: 40%;
  line-height: 1.5;
}

@media only screen and (max-width: 999px) {
  #smallb ul, #mediumb ul {
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
}

#smallb article img, #mediumb article img {
  border: 1px solid #3f2347;
  -webkit-box-shadow: 2rem 2rem #3f2347;
          box-shadow: 2rem 2rem #3f2347;
}

@media only screen and (max-width: 999px) {
  #smallb article img, #mediumb article img {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }
}

#smallb-image1, #mediumb-image1 {
  display: block;
  position: absolute;
  left: 8%;
  top: 45%;
}

@media only screen and (max-width: 1400px) {
  #smallb-image1, #mediumb-image1 {
    position: relative;
    left: 25% !important;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media only screen and (max-width: 1800px) {
  #smallb-image1, #mediumb-image1 {
    left: 7%;
  }
}

@media only screen and (max-width: 1700px) {
  #smallb-image1, #mediumb-image1 {
    left: 6%;
  }
}

@media only screen and (max-width: 1600px) {
  #smallb-image1, #mediumb-image1 {
    left: 5%;
  }
}

@media only screen and (max-width: 1500px) {
  #smallb-image1, #mediumb-image1 {
    left: 4%;
  }
}

#smallb-image2, #mediumb-image2 {
  display: block;
  position: absolute;
  top: 60%;
  left: 8%;
}

@media only screen and (max-width: 1400px) {
  #smallb-image2, #mediumb-image2 {
    position: relative;
    left: 25% !important;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media only screen and (max-width: 1800px) {
  #smallb-image2, #mediumb-image2 {
    left: 7%;
  }
}

@media only screen and (max-width: 1700px) {
  #smallb-image2, #mediumb-image2 {
    left: 6%;
  }
}

@media only screen and (max-width: 1600px) {
  #smallb-image2, #mediumb-image2 {
    left: 5%;
  }
}

@media only screen and (max-width: 1500px) {
  #smallb-image2, #mediumb-image2 {
    left: 4%;
  }
}

/* blog.html webpage section */
#blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#blog-container #blog-post img {
  width: 100%;
}

#blog-container #blog-post {
  width: 50%;
  padding-right: 20px;
  line-height: 1.5;
  min-width: 300px;
}

@media only screen and (max-width: 999px) {
  #blog-container #blog-post {
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
}

#blog-container #blog-post h4 {
  font-style: italic;
  color: #b7b7b7;
}

#blog-container #blog-post h2 {
  text-align: left;
  color: #3f2347;
  font-size: 1.9rem;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: capitalize;
}

#blog-container #blog-aside {
  width: 20%;
  background-color: #3f2347;
  margin-left: 20px;
  min-width: 300px;
}

@media only screen and (max-width: 999px) {
  #blog-container #blog-aside {
    width: 100%;
    margin: 0;
  }
}

#blog-container #blog-aside #blog-recent {
  padding-bottom: 50px;
}

#blog-container #blog-aside #blog-recent h3 {
  padding: 20px;
  font-size: 1.5rem;
  color: #F07E2F;
}

#blog-container #blog-aside #blog-recent ul {
  list-style: none;
  font-size: 1.2rem;
}

#blog-container #blog-aside #blog-recent ul li:not(:first-child) {
  margin-top: 1.5rem;
}

#blog-container #blog-aside #blog-recent ul li a {
  color: #fff;
}

#blog-container #blog-aside #blog-recent ul li a:hover {
  color: #F07E2F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#blog-aside #contact {
  background: none;
  padding: 0;
}

#blog-aside #contact article {
  border-radius: 0;
  background: none;
}

#blog-aside #contact h3 {
  font-size: 2rem;
  color: #F07E2F;
}

#blog-aside #contact #fname, #blog-aside #contact #email, #blog-aside #contact #ym {
  font-size: 1.2rem;
}

#blog-aside #contact #submit {
  background-color: #F07E2F;
}

#blog-aside #contact #submit:hover {
  background-color: #f39c5f;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */